# ANIRUDDHA GHOSH
RA2011030010038

In [ ]:
# Driver Used: MySQL Connector
# Database Used: MariaDB
# MariaDB( ~ OracleDB | > MySQL | <PostgreSQL)
import mysql.connector as database

connection = database.connect(
    user="root",
    password="root",
    host="127.0.0.1",
    database="app")

cursor = connection.cursor()

def add_data(movie_name,genre,language,rating,id):
    try:
        statement = "insert into movies (movie_name,genre,language,rating,id) values(%s,%s,%s,%s,%s);"
        data = (movie_name,genre,language,rating,id)
        cursor.execute(statement, data)
        connection.commit()
        print("Successfully added entry to database")
    except database.Error as e:
        print(f"Error adding entry to database: {e}")
def get_data(des):
    try:
      statement = "SELECT id,rating FROM movies WHERE rating>%s"
      data = (des,) #it must be of type list, tuple or dict
      cursor.execute(statement,data)
      for (id,rating) in cursor:
        print(f"Successfully retrieved {id}: {rating} ")
    except database.Error as e:
      print(f"Error retrieving entry from database: {e}")
      
def del_data(id):
    try:
      statement = "DELETE FROM movies WHERE id=%s"
      data = (id,) #it must be of type list, tuple or dict
      cursor.execute(statement,data)
      #print(cursor)
      print(f"Successfully deleted!!")
      connection.commit()
    except database.Error as e:
      print(f"Error retrieving entry from database: {e}")
      connection.rollback()

# add_data("Thakumar Jhuli","Fairy","Bengali",10,102)
# del_data(102)
get_data(3)

connection.close()

1.1 **Write a query to display the total number of recipes available with the description “Chinese”**

In [ ]:
def get_data(des):
    try:
      count = 0
      statement = "SELECT id,name FROM recipes WHERE description=%s"
      data = (des,) #it must be of type list, tuple or dict
      cursor.execute(statement, data)
      for (id,name) in cursor:
        count+=1
        print(f"Successfully retrieved {id}: {name} ")
      print("Total Number:",count)
    except database.Error as e:
      print(f"Error retrieving entry from database: {e}")

1.2 **Write a query to display the id, name of the recipes with chef id 'BL000002'.**

In [ ]:
def get_data(des):
    try:
      statement = "SELECT id,name FROM recipes WHERE chef_id=%s"
      data = (des,) #it must be of type list, tuple or dict
      cursor.execute(statement, data)
      for (id,name) in cursor:
        print(f"Successfully retrieved {id}: {name}")
    except database.Error as e:
      print(f"Error retrieving entry from database: {e}")

1.3 **Write a query to display the description of the recipes whose name begins with 'P'.**

In [ ]:
def get_data(des):
    try:
      statement = "SELECT id,description FROM recipes WHERE name LIKE %s"
      data = (des,) #it must be of type list, tuple or dict
      cursor.execute(statement, data)
      for (id,description) in cursor:
        print(f"Successfully retrieved {id}: {description} ")
    except database.Error as e:
      print(f"Error retrieving entry from database: {e}")

2.1 **Update the movies rating by 10% and display it**

In [ ]:
def get_data():
    try:
      statement = "SELECT id,rating FROM movies"
      cursor.execute(statement)
      for (id,rating) in cursor:
        print(f"Successfully retrieved {id}: {rating*1.1} ")
    except database.Error as e:
      print(f"Error retrieving entry from database: {e}")

2.2 **Delete the movies with movie id 102**

In [ ]:
def del_data(id):
    try:
      statement = "DELETE FROM movies WHERE id=%s"
      data = (id,) #it must be of type list, tuple or dict
      cursor.execute(statement,data)
      print(cursor)
      print(f"Successfully deleted!!")
      connection.commit()
    except database.Error as e:
      print(f"Error retrieving entry from database: {e}")
      connection.rollback()

2.3 **Select movies whose rating is more than 3. 3**

In [ ]:
def get_data(des):
    try:
      statement = "SELECT id,rating FROM movies WHERE rating>%s"
      data = (des,) #it must be of type list, tuple or dict
      cursor.execute(statement,data)
      for (id,rating) in cursor:
        print(f"Successfully retrieved {id}: {rating} ")
    except database.Error as e:
      print(f"Error retrieving entry from database: {e}")